@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&family=VT323&display=swap');

:root {
    --padding: 10vmin;

    --ff-default: 'VT323', monospace;
    --ff-secondary: 'Syne Mono', monospace;

    --fs-normal: 1.25vw;
    --fs-medium: 2.5vw;
    --fs-large: 7.5vw;
    --fs-larger: 8.5vw;

    --clr-neutral-100: hsl(0, 0%, 95%);
    --clr-neutral-600: hsl(0, 0%, 30%);
    --clr-neutral-800: hsl(0, 0%, 8%);
    --clr-neutral-transparent: hsla(0, 0%, 65%, 0.2);

    --clr-accent-purple: hsl(268, 58%, 60%);
    --clr-accent-green: hsl(120, 57%, 57%);
    --clr-accent-orange: hsl(30, 91%, 47%);
    --clr-accent-red: hsl(8, 87%, 44%);

    --gradient: linear-gradient(90deg, rgba(0, 255, 39, 1) 0%, rgba(123, 7, 255, 1) 100%);
}

/* CSS reset starts */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* CSS reset ends */

body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-default);
    color: var(--clr-neutral-800);
    /* scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory; */
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-accent-red);
    border-radius: 2px;
}
/* Loader starts */
.loader {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: var(--clr-neutral-100);
    font-size: 2rem;
}

.progress {
    position: absolute;
    top: 60%;
    width: 50%;
    height: 1rem;
    border-radius: 10rem;
    background: var(--gradient);
    transform: scaleX(100%);
    transition: transform 1s;
    transform-origin: left;
    z-index: 100;
    margin: 0 5%;
}
/* Loader ends */
.canvas__container{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
main {
    position: relative;
    display: grid;
    justify-content: center;
    z-index: 2;

}
/* main styling starts */
h1, h2{
    font-size: var(--fs-larger);
    font-weight: 500;
}
h3, h4{
    position: absolute;
    text-transform: uppercase;
    color: var(--clr-neutral-transparent);
    user-select: none;
}
h3{
    top: 8%;
    font-size: var(--fs-large);
}
h4{
    font-size: var(--fs-medium);
}
p{
    font-size: var(--fs-normal);
    font-family: var(--ff-secondary);
}
.section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* scroll-snap-align: start; */
    position: relative;
    padding: var(--padding);
    --pad2: calc(var(--padding) * 2);
    width: calc(100vw - var(--pad2));
    border: 2px solid red;
}
/* utils stars */
.center{
    justify-content: center;
}

.end{
    justify-content: end;
}

.right{
    place-items: end;
}

.red{
    color: var(--clr-accent-red);
}
.orange{
    color: var(--clr-accent-orange);
}
.purple{
    color: var(--clr-accent-purple);
}
.green{
    color: var(--clr-accent-green);
}
.gradient{
    color: var(--gradient);
}
.transparent{
    opacity: 0.2;
}
/* utils ends */

.avatar{
    position: absolute;
    right: 20%;
    top: 40%;
    max-width: 15rem;
    max-height: 15rem;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first > h2{
    font-size: var(--fs-medium);
    color: var(--clr-neutral-600);
}

.section__two__container{
    max-width: 50%;
}

.section__two__container > h4 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    right: 5%;
}

.section__three__container{
    max-width: 40%;
}

.section__five__container{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.section__five__container > h2{
    max-width: 30%;
}
.section__five__container > p{
    max-width: 20%;
}

.fifth > h4{
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.section__six__container {
    max-width: 50%;
}